body{
    overflow-x: hidden;
}

.image1{
    margin-left: -0.6%;
    margin-top: -7%;
    display: flex;
}

.image2{
   margin-left: 4%;
margin-top: -2%;
    display: flex;
}

.image3{
   margin-left: 80%;
margin-top: -25%;
    display: flex;
}

.t1{
  width: 50%;
height: 50%;
margin-left: 62%;
margin-top: -52%;
color: #000000;
font-size: 200%;
line-height: 90%;
font-family: play;
font-style:italic;
font-weight:bold;
}  

.t2{
  width: 60%;
height: 50%;
margin-left: 35%;
margin-top: 0%;
color: #000000;
font-size: 150%;
line-height: 120%;
font-family: play;
font-style:normal;
font-weight:lighter;  
text-align: justify;
}
.image4{
   margin-left: -20%;
margin-top: 25%;
    display: flex;
}

.text1{
  width: 100%;
height: 50%;
margin-left: 26%;
margin-top: -64%;
color: #000000;
font-size: 270%;
line-height: 90%;
font-family: play;
font-style:italic;
font-weight:bold;
}  

.image5{
   margin-left: 63%;
margin-top: 5%;
    display: flex;
}

.tx1{
  width: 50%;
height: 50%;
margin-left: -22%;
margin-top: 16%;
color: #000000;
font-size: 200%;
line-height: 100%;
font-family: play;
font-style:normal;
font-weight:bold;
}  

.tx2{
  width: 55%;
height: 50%;
margin-left: -22%;
margin-top: 0%;
color: #000000;
font-size: 70%;
line-height: 100%;
font-family: play;
font-style:normal;
font-weight:lighter;  
text-align: justify;
}

hr
{
     border: none; /* Убираем границу */
    background-color: DarkGray; /* Цвет линии */
 
    height: 2px; /* Толщина линии */
    width: 900px;
    margin-top: 5%;
}

.tx3{
  width: 50%;
height: 50%;
margin-left: 4%;
margin-top: -48%;
color: #000000;
font-size: 500%;
line-height: 100%;
font-family: play;
font-style:normal;
font-weight:bold;
}  

.tx4{
  width: 55%;
height: 50%;
margin-left: 4%;
margin-top: -1%;
color: #000000;
font-size: 190%;
line-height: 100%;
font-family: play;
font-style:normal;
font-weight:lighter;  
text-align: justify;
}

hr
{
     border: none; /* Убираем границу */
    background-color: DarkGray; /* Цвет линии */
 
    height: 2px; /* Толщина линии */
    width: 900px;
    margin-top: 5%;
}

.tx5{
  width: 50%;
height: 50%;
margin-left: 4%;
margin-top: -48%;
color: #000000;
font-size: 500%;
line-height: 100%;
font-family: play;
font-style:normal;
font-weight:bold;
}  

.tx6{
  width: 55%;
height: 50%;
margin-left: 4%;
margin-top: -1%;
color: #000000;
font-size: 190%;
line-height: 100%;
font-family: play;
font-style:normal;
font-weight:lighter;  
text-align: justify;

}
hr
{
     border: none; /* Убираем границу */
    background-color: DarkGray; /* Цвет линии */
 
    height: 2px; /* Толщина линии */
    width: 900px;
    margin-top: 5%;
}

.image7{
   margin-left: 25%;
margin-top: 4%;
    display: flex;
}
form{
    margin-left: 40%;
}