body{
    margin: 0;
    background-color: black;
}
.background{
    width: 100%;
    background: url("img/back.jpg");
    background-size: cover;
}
.header {
    width: 100%;
    height: 202px;
    background: url('img/group2.png') center no-repeat;
    background-size: cover;
}
.header_inner{
    max-width: 1600px;
    margin: 0 20px;
    display: flex;
}



/*Фиксация----------------------------------------*/

.menu
{
  width: 100%;
max-width: 2000px;
  height: 60px; 
    display: flex;
    justify-content: space-around;
    z-index: 50;
}


.butt_m,
.butt_r,
.butt_p,
.butt_t,
.butt_a,
.butt_c
{  
font-family: 'Play', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 40px;
text-align: center;
color: rgba(255, 255, 255, 0.88);
    text-decoration: none; 
}
/*Ссылка "Главная"----------------------------------------*/
.butt_m::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_m::before,
.butt_m::after 
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_m:hover {
  font-weight: bold;
}



/*Ссылка "Рейтинг"---------------------------------------*/
.butt_r::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_r::before,
.butt_r::after 
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_r:hover {
  font-weight: bold;
}


/*Ссылка "Пазлы"---------------------------------------*/
.butt_p::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_p::before,
.butt_p::after 
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_p:hover {
  font-weight: bold;
}




 /*Ссылка "Тесты"*/
.butt_t::after 
{
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_t::before,
.butt_t::after 
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_t:hover 
{
  font-weight: bold;
}




/*Ссылка "О нас"---------------------------------------*/
.butt_a::after 
{
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_a::before,
.butt_a::after 
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_a:hover 
{
  font-weight: bold;
}



/*Ссылка "Контакты"-----------------------------------*/
.butt_c::after 
{
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_c::before,
.butt_c::after 
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_c:hover {
  font-weight: bold;
}
.bg_transparent{
    width: 100%;
    height: 440px;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
}
.bg_transparent_inner {
    width: 100%;
    max-width: 1300px;
    height: 440px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.year{
font-family: Play;
font-style: normal;
font-weight: bold;
font-size: 110px;
color: #FFFFFF; 
margin: auto;
}
.year_text{
width: 50%;
font-family: Play;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
color: #FFFFFF;
    margin: auto;
}
.left_line{
 width: 33%;
}
.left_line_bg{
width: 100%;
background: rgba(0,0,0,1);
 margin:  auto;
}
.main_background1{
width: 100%;
height: 1150px;
background: black;
background-size: cover;
margin: auto;
display: flex;
justify-content: space-around;
}
.backg1{
width: 100%;
max-width: 500px;
display: flex;
z-index: 1;
margin: auto;
margin-left: 0;
    


}

.main_block{
width: 100%;
max-width: 1200px;
margin: 10% auto; 
display: flex;
justify-content: space-between;
position: absolute;
z-index: 10;
}
.text{
width: 100%;
max-width: 600px;
max-height: 600px;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 2%;
}
.h1{
font-family: Garamond;
font-style: normal;
font-weight: bold;
font-size: 80px;

color: #FFFFFF;

}
.h1:hover{
    color: rgba(141, 11, 35, 0.88);
}
.main_text{
font-family: Play;
font-style: normal;
font-weight: normal;
font-size: 38px;
    
text-align: left;
    

color: #FFFFFF;
}

    
}
.film_year{
font-family: Play;
font-style: normal;
font-weight: normal;
font-size: 38px;

color: #FFFFFF;
}
.country{
font-family: Play;
font-style: normal;
font-weight: normal;
font-size: 38px;

color: #FFFFFF;
}
.picture{
    width: 100%;
    max-width: 450px;
    max-height: 650px;
    display: flex;
    padding: 2%;
}
.bg2 {
background: url("img/%D1%84%D0%BE%D0%BD3.png");
width: 100%;  
background-size: cover;
padding: 50px 0;

}
.media {
width: 100%;  
display: flex;
justify-content: center;
    margin: auto;

font-family: 'Play', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 50px;
color: #FFFFFF;
}
.q {
width: 100%;
display: flex;
justify-content: center;
    margin: 10px auto;

font-family: 'Play', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 45px;
text-align: center;
color: #FFFFFF;
}
.contacts{
display: flex;
justify-content: space-around;
width: 100%;
max-width: 500px;
margin: 40px auto;

}
.inst:hover {
  filter: drop-shadow(0px 0px 20px #FEF8F8);    
}
.tg:hover {
     filter: drop-shadow(0px 0px 20px #FEF8F8); 
}
.vk:hover {
     filter: drop-shadow(0px 0px 20px #FEF8F8); 
}
.right_line{
 width: 33%;
}
.right_line_bg{
width: 100%;
background: rgba(0, 0, 0, 0);
 margin: auto;
display: flex;
    justify-content: flex-end;
}

.scrollup{
width: 10%;
max-width: 60px;
position: fixed;  
height: 10%; 
right: 10%;
bottom: 5%;
    z-index: 200;
}

 
* {
box-sizing: border-box;
}

a {
text-decoration: none;
}

#menu-burger {
background: rgba(141, 11, 35, 0.88);
border-radius: 50%;
position: fixed;
margin:-10% 90%;
cursor: pointer;
z-index: 200;
}

#menu-burger .menu-icon {
display: block;
height: 2px;
width: 20px;
background: #fff;
position: absolute;
top: 50%;
left: 50%;
margin-left: -9px;
margin-top: -1px;
}

#menu-burger .menu-icon:after {
content: '';
display: block;
height: 2px;
width: 18px;
background: #fff;
position: absolute;
top: 50%;
left: 50%;
margin-left: -9px;
margin-top: -5px;
transition: 0.35s;
}

#menu-burger .menu-icon:before {
content: ' ';
display: block;
height: 2px;
width: 18px;
background: #fff;
position: absolute;
top: 50%;
left: 50%;
margin-left: -9px;
margin-top: 4px;
transition: 0.35s;
}

#menu-burger .menu-icon.open:before{
transform: rotate(45deg);
margin-top: -1px;
background: #000;
}

#menu-burger .menu-icon.open:after{
transform: rotate(-45deg);
margin-top: -1px;
background: #000;
}

#menu-burger.open {
background: #fff;
}

#menu-burger .menu-icon.open {
background: #fff;
}

#overlay-menu {
position: fixed;
background: rgba(141, 11, 35, 0.88);
height: 100%;
width: 30%;
top: 0;
opacity: 0.85;
z-index: 100;
right: -100%;
transition: 0.35s;
}

#overlay-menu.open {
right: 0%;
}

#overlay-menu nav {
height: 60%;
position: relative;
top: 50%;
left: 0;
transform: translateY(-50%);
font-size: 32px;
text-align: center;
}

#overlay-menu nav ul {
display: inline-block;
margin: auto;
height: 100%;
}

#overlay-menu nav ul li {
position: relative;
color: #fff;
margin-bottom: 20px;
list-style-type: none
}

#overlay-menu nav ul li a {
color: #fff;

}

#overlay-menu nav ul li a:after {
content: ' ';
display: block;
position: absolute;
top: 100%;
left: 0;
height: 3px;
width: 0%;
background: #fff;
transition: 0.25s;
}

#overlay-menu nav ul li a:hover:after {
width: 100%;
}

@media (min-width: 1170px){
#menu-burger{
display: none;
}
}
@media (max-width: 1170px){
.menu{
display: none;
}
#menu-burger{
display: inline-block;
width: 5vw;
height: 5vw;

}
} 
@media (max-width: 1100px){
    .picture{
      max-width: 350px;
      max-height: 550px;
    }
    .main_background1{
height: 980px;
}
    .backg1{
     max-width: 400px;   
    }
}