:root {
  --color:lightgray;
  --border-radius:10px;
  --image:url('http://www.rutage.com/wp-content/uploads/2015/09/Home-Alone-6.jpg');
}
.menu
{
  width: 100%;
  height: 7%;
  z-index: 10;
   
}
.butt_m,
.butt_r,
.butt_p,
.butt_t,
.butt_a,
.butt_c
{
     width: 100%;
  height: 7%;
  z-index: 1000; 
 font-family: 'Play', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 230%;
text-align: center;
color: rgba(255, 255, 255, 0.88);
    text-decoration: none; 
    display: flex;
    top: 27%;
}
/*Ссылка "Главная"----------------------------------------*/
.butt_m::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_m::before,
.butt_m::after 
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_m:hover {
  font-weight: bold;
}

.butt_m
{
    position: absolute;
width: 11%;
left: 10%;
top: 6%; 


}

/*Ссылка "Рейтинг"---------------------------------------*/
.butt_r::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_r::before,
.butt_r::after 
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_r:hover {
  font-weight: bold;
}

.butt_r
{
    position: absolute;
width: 11%;
left: 25.8%;
top: 6%;

}

/*Ссылка "Пазлы"---------------------------------------*/
.butt_p::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_p::before,
.butt_p::after 
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_p:hover {
  font-weight: bold;
}


.butt_p
{
    position: absolute;
width: 10%;
left: 40.5%;
top: 6%;
}

 /*Ссылка "Тесты"*/
.butt_t::after 
{
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_t::before,
.butt_t::after 
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_t:hover 
{
  font-weight: bold;
}


.butt_t
{
    position: absolute;
width: 11%;
left: 52.5%;
top: 6%;
}

/*Ссылка "О нас"---------------------------------------*/
.butt_a::after 
{
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_a::before,
.butt_a::after 
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_a:hover 
{
  font-weight: bold;
}

.butt_a
{
    position: absolute;
width: 11%;
left: 65%;
top: 6%;
}

/*Ссылка "Контакты"-----------------------------------*/
.butt_c::after 
{
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.butt_c::before,
.butt_c::after 
{
  content: '';
  position: absolute;
  z-index: -1;
}

.butt_c:hover {
  font-weight: bold;
}

.butt_c
{
    position: absolute;
width: 11%;
left: 79%;
top: 6%;
}








body {
  background:url(alex-perez-ioJBsYQ-pPM-unsplash.jpg);
  padding:0;
  margin:0;
  box-sizing:border-box;
}

#puz, #puzz {
  position:absolute;
  border-radius:var(--border-radius) 0 var(--border-radius) 0;    
  user-select:none;
}
#puz {
  width:450px;
  height:450px;
  position:absolute;
  top:63%;
  left:50%;
  transform:translate(-50%,-50%);
  border:3px dashed lightgray;
  overflow:hidden;
}
#puzz {
  left:0;
  top:0;
  border:0;
}

#puz i {
  float:left;
  width:150px;
  height:150px;
  outline:1px dashed lightgray;
}

#puzz i {
  position:absolute;
  width:150px;
  height:150px;
  background:var(--color);
  background-image:var(--image);
  background-size:440px 430px;
  cursor:move;
  box-shadow:0 0 10px rgba(0,0,0,.25);
}

.first {
  border-top-left-radius:var(--border-radius);
  background-position:left top !important;
}
.secon {
  background-position:center top !important;
}
.third {
/*   border-top-right-radius:var(--border-radius); */
  background-position:right top !important;
}
.fourt {
  background-position:left center !important;
}
.fifth {
  background-position:center center !important;
}
.sixth {  
  background-position:right center !important;
}
.seven {
/*   border-bottom-left-radius:var(--border-radius); */
  background-position:left bottom !important;
}
.eight {
  background-position:center bottom !important;
}
.ninth {
  border-bottom-right-radius:var(--border-radius);
  background-position:right bottom !important;
}

.clicked {
  box-shadow:0 0 0 4px gray !important;
}

.dropped {
  background:var(--color);
  background-image:var(--image);
  background-size:450px 450px;
}
.done {
  opacity:0;
  pointer-events:none;
}

.allDone {
  animation:allDone 1s linear forwards;
  border:3px solid lightgray !important;
}
.allDone i {
  outline:0 !important;
}

@keyframes allDone {
  50% { transform:translate(-50%,-50%) scale(1.2); }
}

#clicks {
  font-size:8px;
  font-family:monospace;
  position:absolute;
  bottom:5px;
  right:5px;
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  #puz {
       width:630px;
  height:630px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border:3px dashed lightgray;
  overflow:hidden;
}  
     #puzz {
  left:0;
  top:0;
  border:0;
}

#puz i {
  float:left;
  width:210px;
  height:210px;
  outline:1px dashed lightgray;
}

#puzz i {
  position:absolute;
  width:210px;
  height:210px;
  background:var(--color);
  background-image:var(--image);
  background-size:630px 630px;
  cursor:move;
  box-shadow:0 0 10px rgba(0,0,0,.25);
}  
   .dropped {
  background:var(--color);
  background-image:var(--image);
  background-size:630px 630px;
}    
}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #puz {
  width:510px;
  height:510px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border:3px dashed lightgray;
  overflow:hidden;
}  
    #puzz {
  left:0;
  top:0;
  border:0;
}

#puz i {
  float:left;
  width:170px;
  height:170px;
  outline:1px dashed lightgray;
}

#puzz i {
  position:absolute;
  width:170px;
  height:170px;
  background:var(--color);
  background-image:var(--image);
  background-size:510px 510px;
  cursor:move;
  box-shadow:0 0 10px rgba(0,0,0,.25);
}  
   .dropped {
  background:var(--color);
  background-image:var(--image);
  background-size:510px 510px;
}    
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   #puz {
  width:450px;
  height:450px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border:3px dashed lightgray;
  overflow:hidden;
}  
    #puzz {
  left:0;
  top:0;
  border:0;
}

#puz i {
  float:left;
  width:150px;
  height:150px;
  outline:1px dashed lightgray;
}

#puzz i {
  position:absolute;
  width:150px;
  height:150px;
  background:var(--color);
  background-image:var(--image);
  background-size:450px 450px;
  cursor:move;
  box-shadow:0 0 10px rgba(0,0,0,.25);
}  
   .dropped {
  background:var(--color);
  background-image:var(--image);
  background-size:450px 450px;
}    
}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 #puz {
  width:300px;
  height:300px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border:3px dashed lightgray;
  overflow:hidden;
}  
    #puzz {
  left:0;
  top:0;
  border:0;
}

#puz i {
  float:left;
  width:100px;
  height:100px;
  outline:1px dashed lightgray;
}

#puzz i {
  position:absolute;
  width:100px;
  height:100px;
  background:var(--color);
  background-image:var(--image);
  background-size:300px 300px;
  cursor:move;
  box-shadow:0 0 10px rgba(0,0,0,.25);
}  
   .dropped {
  background:var(--color);
  background-image:var(--image);
  background-size:300px 300px;
}    
}






@media only screen and (max-width : 320px) {
 #puz {
  width:240px;
  height:240px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border:3px dashed lightgray;
  overflow:hidden;
}  
    #puzz {
  left:0;
  top:0;
  border:0;
}

#puz i {
  float:left;
  width:80px;
  height:80px;
  outline:1px dashed lightgray;
}

#puzz i {
  position:absolute;
  width:80px;
  height:80px;
  background:var(--color);
  background-image:var(--image);
  background-size:240px 240px;
  cursor:move;
  box-shadow:0 0 10px rgba(0,0,0,.25);
}  
   .dropped {
  background:var(--color);
  background-image:var(--image);
  background-size:240px 240px;
}    
}


@media (max-width:1170px){

    .menu {
        width: 100%;
        top: 20%;
        font-size: 1vw; 
        position: relative;
        height: 3vw;
    }
}







* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#menu-burger {
display: flex;
  width: 60px;
  background: rgba(141, 11, 35, 0.88);
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  z-index: 500;
    margin: 7% 88%;
}

#menu-burger .menu-icon {
  display: block;
  height: 2px;
  width: 20px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -1px;
}

#menu-burger .menu-icon:after {
  content: '';
  display: block;
  height: 2px;
  width: 18px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -5px;
  transition: 0.35s;
}

#menu-burger .menu-icon:before {
  content: ' ';
  display: block;
  height: 2px;
  width: 18px;
  background: #fff;
    position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: 4px;
    transition: 0.35s;
}

#menu-burger .menu-icon.open:before{
  transform: rotate(45deg);
  margin-top: -1px;
  background: #000;
}

#menu-burger .menu-icon.open:after{
  transform: rotate(-45deg);
  margin-top: -1px;
  background: #000;
}

#menu-burger.open {
  background: #fff;
}

#menu-burger .menu-icon.open {
  background: #fff;
}

#overlay-menu {
  position: fixed;
  background: rgba(141, 11, 35, 0.88);
  height: 100%;
  width: 30%;
  top: 0;
  opacity: 0.85;
  z-index: 100; 
  right: -100%;
  transition: 0.35s;
}

#overlay-menu.open {
  right: 0%;
}

#overlay-menu nav {
  height: 60%;
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 32px;
  text-align: center;
}

#overlay-menu nav ul {
  display: inline-block;
  margin: auto;
  height: 100%;
}

#overlay-menu nav ul li {
  position: relative;
  color: #fff;
  margin-bottom: 20px;
    list-style-type: none
}

#overlay-menu nav ul li a {
  color: #fff;
   
}

#overlay-menu nav ul li a:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  height: 3px;
  width: 0%;
  background: #fff;
  transition: 0.25s;
}

#overlay-menu nav ul li a:hover:after {
  width: 100%;
}

@media (min-width: 1170px){
    #menu-burger{
        display: none;
    }
}
@media (max-width: 1170px){
    .menu{
        display: none;
    }
    #menu-burger{
        display: inline-block;
        width: 5vw;
        height: 5vw;
     
    }
}

