*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.section1{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.ph1{
    width: 60%;
    border-radius: 50%;
     border: 3px solid #000; /* Белая рамка */
    margin-left: 14%;
    margin-top: 8%;
    
}

.famil{
     
   color: #000;
font-size: 300%;
line-height: 100%;
font-family: Alumni Sans;
font-style:normal;
font-weight:bold;
padding-top: 9%;
padding-left: 7%;
}

.rab{
     
   color: #000;
font-size: 150%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
padding-top: 1%;
padding-left: 7%;

}
.tel{
    display: flex;
    margin-top: 20%;
}
.i1{
    width: 7%;
    margin-left: 18%;
}
.t1{
   color: #000;
font-size: 100%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 4%;
}

.poc{
  display: flex; 
margin-top: 4%;
}

.i2{
    width: 7%;
    margin-left: 18%;
}
.t2{
   color: #000;
font-size: 100%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 4%;
}

.lok{
  display: flex; 
margin-top: 4%;
}

.i3{
    width: 7%;
    margin-left: 18%;
}
.t3{
   color: #000;
font-size: 100%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 4%;
}

.idin{
  display: flex; 
margin-top: 4%;
}

.i4{
    width: 7%;
    margin-left: 18%;
}
.t4{
   color: #000;
font-size: 100%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 5%;
text-decoration: none;
    margin-top: 1%;
    
}

.line { 
  margin-left: 32%;
margin-top: 7%;
height: 150vh;    
   }

.kryg{
    display: flex;
    flex-direction: column;
}

.p1{
    width: 3%;
    margin-left: 30.7%;
    z-index: 2;
    margin-top: -74%;
}
.p2{
    width: 3%;
    margin-left: 30.7%;
    z-index: 2;
    margin-top: 25%;
}
.p3{
    width: 3%;
    margin-left: 30.7%;
    z-index: 2;
    margin-top: 23%;
}


.infa{
    display: flex;
    flex-direction: column;
}

.z1{
    color: #525252;
font-size: 500%;
line-height: 120%;
font-family: Alumni Sans;
font-style:normal;
font-weight:bold;  
margin-left: 37%;
margin-top: -76%;  
}

.inf1{
    width: 60%;
   color: #000;
font-size: 150%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 37%;;
    text-align: left;
}

.z2{
    color: #525252;
font-size: 500%;
line-height: 120%;
font-family: Alumni Sans;
font-style:normal;
font-weight:bold;  
margin-left: 37%;
margin-top: 9%; 
}

.inf2{
    width: 60%;
   color: #000;
font-size: 150%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 37%;;
    text-align: left;
    margin-top: 2%;
}

.inf3{
    width: 60%;
   color: #000;
font-size: 150%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 37%;;
    text-align: left;
    margin-top: 3%;
}



.z3{
    color: #525252;
font-size: 500%;
line-height: 120%;
font-family: Alumni Sans;
font-style:normal;
font-weight:bold;  
margin-left: 37%;
margin-top: 9%; 
}

.inf4{
    width: 60%;
   color: #000;
font-size: 170%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 37%;;
    text-align: left;
   
}

.inf5{
    width: 60%;
   color: #000;
font-size: 100%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 37%;;
    text-align: left;
    
}

.inf6{
    width: 60%;
   color: #000;
font-size: 150%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 37%;;
    text-align: left;
    margin-top: 2%;
}

.line1 { 
  margin-left: 32%;
margin-top: -1%;
height: 150vh;    
   }

.lin{
    display: flex;
    flex-direction: column;
}

.p4{
    width: 3%;
    margin-left: 30.7%;
    z-index: 2;
  margin-top: -65%; 
}

.p5{
    width: 3%;
    margin-left: 30.7%;
    z-index: 2;
  margin-top: 40%; 
}

.navk{
    display: flex;
    flex-direction: column;
}

.fig{
    display: flex;
}

.navk1{
      color: #525252;
font-size: 500%;
line-height: 120%;
font-family: Alumni Sans;
font-style:normal;
font-weight:bold;  
margin-left: 37%;
margin-top: -68%;  
}
.skill{
       
   color: #000;
font-size: 200%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 37%;;
    text-align: left;
    margin-top: 2%; 
}
.gr1{
    width: 15%;
    height: 15%;
   margin-left: 5%;
    margin-top: 3%;
}

.fig1{
    display: flex;
    margin-top: 2%;
}

.skill1{
       
   color: #000;
font-size: 200%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 37%;;
    text-align: left;
    margin-top: 2%; 
}
.gr11{
    width: 15%;
    height: 15%;
   margin-left: 9%;
    margin-top: 3%;
}

.fig2{
    display: flex;
    margin-top: 2%;
}

.skill2{
       
   color: #000;
font-size: 200%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 37%;;
    text-align: left;
    margin-top: 2%; 
}
.gr12{
    width: 15%;
    height: 15%;
   margin-left: 6.5%;
    margin-top: 3%;
}

.fig3{
    display: flex;
    margin-top: 2%;
}

.skill3{
       
   color: #000;
font-size: 200%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 37%;;
    text-align: left;
    margin-top: 2%; 
}
.gr13{
    width: 15%;
    height: 15%;
   margin-left: 13%;
    margin-top: 3%;
}

.kach{
    display: flex;
    flex-direction: column;
}

.lich{
     color: #525252;
font-size: 500%;
line-height: 120%;
font-family: Alumni Sans;
font-style:normal;
font-weight:bold;  
margin-left: 37%;
margin-top: -24%; 
}

.lich1{
     width: 60%;
   color: #000;
font-size: 150%;
line-height: 120%;
font-family: Cormorant SC;
font-style:normal;
font-weight:lighter;
margin-left: 37%;;
    text-align: left;
    margin-top: 2%;
}